@import url('https://fonts.googleapis.com/css?family=Lato:900i&display=swap');

// variables
$bg-color: #6b036b;
$title: #FFCF00;
$lato-text: 'Lato', sans-serif;

//all-purpose text
.best-sell, .sub-title, .contact{
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: underline;
}

// header and body styles
.dark-bg{
  background-color: $bg-color;
}
.no-bg {
  background-color: #fff;
}

header{
  h1{
    text-shadow:
    0 0 5px #fff,
    0 0 10px $title,
    0 0 20px $title,
    0 0 30px $title,
    0 0 40px $title,
    0 0 55px $title,
    0 0 75px $title;
    a {
      color: #fff;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
      &:active{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

//main slider
.main-slider{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.first-slide, .second-slide{
  min-height: 30em;
  width: 80%;
  color: white;
  position: relative;
  .center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

  }
  p {
    color: white;
    font-family: $lato-text;
    margin: auto;
  }
}

.first-slide{
  background-color: #6B0337;
}
.second-slide{
  background-color: #37036B;
}

//product slider styles
.slider{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}
.slide{
  img {
    width: 90%;
    height: 300px;
    object-fit: cover;
  }
}

ul.slick-dots{
  margin-left: -60px;
}
.slick-dots {
  li {
    margin: 0 10px;
    & button:before {
      font-size: 15px;
      color: white;
    }
  }
}

//product page styles
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  &-image{
    height: 200px;
    width: 320px;
    object-fit: cover;
  }
  &-description{
    font-family: sans-serif;
    font-size: .8rem;
    color: #767676;
  }
  &-item {
    padding: 20px;
    &-name{
      font-family: sans-serif;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
.price {
  color: #f5256c;
  padding-left: 0px;
  background-color: transparent;
}

//subscription page styles
#subscription {
  background-color: rgba(0, 0, 0, .3);
  padding: 10px 20px;
  border-radius: 8px;
}

.sub{
  &-text{
    color: white;
    font-family: $lato-text;
    font-size: 24px;
    &-bold{
      color: white;
      font-weight: 900;
      font-family: $lato-text;
      font-size: 30px;
    }
  }
}

// footer styles
.footer{
  .fa {
    color: #fff;
    font-size: 28px;
    padding: 10px .40em;
  }
}

// media queries
@media (min-width:900px){
  h1{
    font-size: 40px;
    #logo {
      font-size: 45px;
      letter-spacing: 10px;
    }
  }
}
@media (min-width: 1000px){
  #navbar{
    li {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 25px;
    }
  }
}

@media (min-width: 200px){
  .main-slider{
    p {
      font-size: 60px
    }
  }
}


@media screen and (max-width: 1190px) {
  .grid {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .grid-image {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .grid {
     grid-template-columns: auto auto;
  }
  .grid-image {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .grid {
     grid-template-columns: auto;
  }
  .grid-image {
    width: 100%;
  }
}
